version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: npm
    directory: website
    schedule:
      interval: monthly
    allow:
      - dependency-type: direct
      - dependency-name: caniuse-lite
    groups:
      docusaurus:
        patterns:
        - "@docusaurus/*"
