name: Docs

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
    tags: [v*]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

defaults:
  run:
    working-directory: website

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          cache: yarn
          cache-dependency-path: website/yarn.lock

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v4

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run type check
        run: yarn tsc

      - name: Run ESLint
        run: yarn lint

      - name: Build with Docusaurus
        run: yarn build

      - name: Upload artifact
        if: github.ref_type == 'tag'
        uses: actions/upload-pages-artifact@v3
        with:
          path: website/build

  deploy:
    name: Deploy
    if: github.ref_type == 'tag'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
